@model Bar.Models.Cocktail
@using Bar.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "WorkwithDb";
}
<html>
<head>
    <title>WorkwithDb</title>
    <link rel="stylesheet" href="~/css/Styles.css">
</head>
<body>


    <div class="maintitle">
        <div class="ptitle">
            <p>Окно добавления категорий, ингредиентов и коктелей!</p>
        </div>
        <div class="mainlink">
            <a asp-controller="Home" asp-action="Index">Вернуться к обзору коктелей</a>
        </div>
    </div>
   


    @* Коктейль *@
    <form class="adminform" asp-action="WorkwithDb" asp-controller="Admin" method="post">
        <div class="form-group">
            <label asp-for="Name" class="control-label">Название коктейля</label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ShortDesc" class="control-label">Короткое описание</label>
            <input type="text" asp-for="ShortDesc" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="LongDesc" class="control-label">Длинное описание</label>
            <input type="text" asp-for="LongDesc" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Img" class="control-label">Картинка</label>
            <input type="text" asp-for="Img" class="form-control" />
        </div>
        @Html.DropDownListFor(m => m.CategoryId, (SelectList)ViewBag.Categories)
        <div class="editor-label"><b>Ингрединты и их объем</b></div>

        @foreach (Ingredient_Value c in ViewBag.IngredientValue)
        {
            <input type="checkbox" name="selectedValues" value="@c.Id" />@c.Ingredient.Name @c.Value<br />
        }

        <div class="form-group">
            <input type="submit" value="Отправить" class="btn btn-default" />
        </div>
    </form>


    <partial name="_AddIngr.cshtml" />
    <partial name="_AddIngr_Value.cshtml" />
    <partial name="_AddCategory.cshtml" />
</body>
</html>