@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Bar.Models.Cocktail>
@{
    ViewData["Title"] = "Index";
}
<html>
<head>
    <title>BarCard</title>
</head>
<body>
    <a asp-controller="Admin" asp-action="WorkwithDb">Окно администратора</a>
    <table class="table">
        <tr><td>Коктейли:</td></tr>
        @foreach (var item in Model)
        {
            <tr><td>@item.Name</td></tr>
            <tr><td><img src="@item.Img" alt="КартинОчка" width="320" height="240"></td></tr>
        }
    </table>
</body>
</html>
