@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Bar.Models.Cocktail 
@{
    ViewData["Title"] = "Index";
}
<html>
<head>
    <title>BarCard</title>
</head>
<body>
    <h3>Смартфоны</h3>
    <table>
        <tr>
            <td>Модель</td>
            <td>Производитель</td>
            <td>Цена</td>
            <td></td>
        </tr>
     
            
        }
    </table>
</body>
</html>
